<header> 
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>OAuth Client</strong>
      </a>
      <nav  class="my-2 my-md-0 mr-md-3">
          <a *ngIf="isAuthenticated" class="p-2 text-light" href="#">Logout</a>  
          <a *ngIf="!isAuthenticated" class="p-2 text-light" routerLink="/login">Login</a>     
      </nav>
    </div>    
  </div>
</header>
